html {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

section {
	line-height: 30px;
}

body {
	padding-left: 15%;
	padding-top: 20px;
	padding-right: 15%;
}

h1 {
	font-size: 23px;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

a {
	text-decoration: none;
	border: 2px solid #b4b4b4;
	padding: 5px 20px 5px 20px;
	margin: 10px 0 10px 0;
	color: black;
}

a:active {
	border: 2px solid black;
	border-radius: 5px;
}

input[type=submit] {
	border: 2px solid #b4b4b4;
	padding: 5px 20px 5px 20px;
	margin: 25px 0 10px 0;
	color: black;
	background-color: white;
	height: 35px;
	font-size: 20px;
	cursor: pointer;
}

button[type=submit] {
	border: 2px solid #b4b4b4;
	padding: 5px 20px 5px 20px;
	margin: 10px 0 10px 0;
	color: black;
	background-color: white;
	height: 35px;
	font-size: 20px;
}

button[type=submit].submitquestionnaire {
	margin-left: 9px; 
}

h2 {
	font-size: 22px;
	font-weight: 500;
	margin: 10px 0 25px 0;
}


.control-label:after{
    content: ' \2022';
    color: red;
}

li {
	list-style: none;
}

.questionnaire div {
	margin-left: 9px;
}

.questionnaire h2 {
	margin-bottom: 10px;
}

.feedback h2 {
	margin-bottom: 0px;
}

.feedback p {
	margin-top: 10px;
	margin-bottom: 20px; 
}

.questionnaire input, .questionnaire select, .questionnaire textarea, .feedback textarea {
	border: 2px solid #b4b4b4;
	background-color: white;
	margin: 8px;
	font-size: 20px;
}

.questionnaire input {
	height: 35px;
	width: 592px;
}

.questionnaire select {
	height: 42px;
}

.questionnaire select[name=hand] {
	width: 600px;
}

.questionnaire .education select {
	width: 600px;
}

.questionnaire input[type=radio], .feedback input[type=radio] {
	width: 15px;
	height: 15px;
	margin: 0px;
}
.questionnaire #id_age {
	width: 80px;
}

.questionnaire textarea {
	width: 592px;
}

.questions-form+ul {
	margin: 10px;
}

.feedback div {
	margin-left: 9px;
}

.feedback label div:nth-child(1) {
	margin-left: 0px;
}

.parent > li {
	margin-top: 20px;
	margin-bottom: 20px;
}

.paragraph {
	margin-bottom: 25px;
	line-height: 30px;
}

.post-form span {
	white-space: nowrap;
}

.text {
	font-size: 20px;
	margin-top: 25px;
	line-height: 40px;
}

div h2 {
	margin-top: 0px;
	margin-bottom: 25px;
}


input[type="checkbox"] {
	display: none;
}

.checkbox_label {
  width: 40px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 33px;
  cursor: pointer;
  display: inline-block;
  margin-left: 0px;
  margin-right: 20px;
  user-select: none;
}


.checkbox_label > * {
  position: absolute;
  transition: opacity .1s ease;
 }

input + label > :first-child {
	color: #b4b4b4;

}

input + label > :last-child {
	color: red;
	font-weight: 700;
}

input + label > :last-child {
  opacity: 0;
}

input:checked  + label > :first-child {
  opacity: 0;
}

input:checked  + label > :last-child {
  opacity: 1;
}


.okno{
	margin-bottom: 25px;
	line-height: 30px;
}
